<?xml version="1.0" encoding="UTF-8"?>
<!-- 30초마다 설정 파일의 변경을 확인한다. 파일이 변경되면 다시 로딩한다 -->
<configuration>
	<!-- 외부 설정파일을 사용할 수 있다. -->
	<property resource="logback.properties"/>

	<appender name="console" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern> %d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
		 </encoder>
	</appender>
	
	<appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${catalina.base}/logs/board.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
		<!-- 파일이 하루에 한개씩 생성된다 -->
			<fileNamePattern>board.%d{yyyy-MM-dd}.log</fileNamePattern>
 
 			<maxHistory>10000</maxHistory>
		</rollingPolicy>
		<encoder>
			<pattern>%-5level %logger{35} - %msg%n</pattern>
		</encoder>
	</appender>
 
	<logger name="org.springframework" level="info"/>
	<logger name="org.mybatis" level="debug"/>
	<logger name="mapper.cloudMapper" level="debug"/>
	<logger name="org.hibernate.SQL" level="debug"/>
	<logger name="org.hibernate.type.descriptor.sql.BasicBinder" level="TRACE"/>
	<logger name="org.hibernate.transaction.JDBCTransaction" level="debug"></logger>
	<logger name="org.hibernate.jdbc.ConnectionManager" level="debug"></logger>
	<logger name="org.springframework.transaction" level="debug"></logger>
	<logger name="org.springframework.orm.jpa.JpaTransactionManager" level='debug'></logger>
	<if condition='property("RUN_MODE").equals("SERVICE")'>
		<then>
		<!-- 설정파일에 RUN_MODE 가 SERVICE로 정의되어 있으면 로깅 레벨을 INFO로 지정 -->
			<root level="info">
				<appender-ref ref="console"/>
				 <appender-ref ref="FILE"/>
			</root>
		</then>
	<!-- 설정파일에 RUN_MODE 가 SERVICE로 정의되어 있지 않으면  로깅 레벨을 DEBUG 지정 -->
	<else>
		<root level="debug">
			<appender-ref ref="console"/>
			<appender-ref ref="FILE"/>
		</root>
	</else>
	</if>
</configuration>